<div class="container">
    <div class="text-center">               
        <h3>Fallo de verificación</h3>
    </div>
    <div class="text-center">   
        Cliente no encontrado si quiere puede comunicarse a nuestro WhatsApp
        <a mat-list-item href="https://api.whatsapp.com/send?phone=+340000000000&text=hola">
            <img class="nav-logo-small" src="/assets/imgs/whatsapp.png" title="Escríbenos por Whastapp"
                alt="Escríbenos por Whastapp">
            WhatsApp
        </a>
    </div>
</div>